In [1]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer, MissingIndicator
import fancyimpute as fimp

import datetime
from meteostat import Point, Hourly, Daily

#from pandas_profiling import ProfileReport

In [2]:
df = pd.read_csv('cneos_fireball_data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929 entries, 0 to 928
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Peak Brightness Date/Time (UT)       929 non-null    object
 1   Latitude (deg.)                      739 non-null    object
 2   Longitude (deg.)                     739 non-null    object
 3   Altitude (km)                        471 non-null    float64
 4   Velocity (km/s)                      276 non-null    float64
 5   vx                                   276 non-null    float64
 6   vy                                   276 non-null    float64
 7   vz                                   276 non-null    float64
 8   Total Radiated Energy (J)            929 non-null    float64
 9   Calculated Total Impact Energy (kt)  929 non-null    float64
dtypes: float64(7), object(3)
memory usage: 72.7+ KB

In [3]:
# ProfileReport(df, title='Fireball Report').to_file('load_report.html')

In [4]:
# Apply imputation

In [5]:
# splitting date and time
df['Peak Brightness Date/Time (UT)']= pd.to_datetime(df['Peak Brightness Date/Time (UT)'])

df['date'] = df['Peak Brightness Date/Time (UT)'].dt.date
df['year'] = df['Peak Brightness Date/Time (UT)'].dt.year
df['quarter'] = df['Peak Brightness Date/Time (UT)'].dt.quarter
df['month'] = df['Peak Brightness Date/Time (UT)'].dt.month
df['day'] = df['Peak Brightness Date/Time (UT)'].dt.day
df['weekday'] = df['Peak Brightness Date/Time (UT)'].dt.weekday
df['time'] = df['Peak Brightness Date/Time (UT)'].dt.time
df['hour'] = df['Peak Brightness Date/Time (UT)'].dt.hour
df['minute'] = df['Peak Brightness Date/Time (UT)'].dt.minute
df['second'] = df['Peak Brightness Date/Time (UT)'].dt.second

In [6]:
# changing latitude and longitude to values
def lat(row):
    if row['Latitude (deg.)'] == row['Latitude (deg.)']:
        if row['Latitude (deg.)'][-1] == 'N':
            return float(row['Latitude (deg.)'][:-1])
        elif row['Latitude (deg.)'][-1] == 'S':
            return float('-'+(row['Latitude (deg.)'][:-1]))
    return np.nan

def long(row):
    if row['Longitude (deg.)'] == row['Longitude (deg.)']:
        if row['Longitude (deg.)'][-1] == 'E':
            return float(row['Longitude (deg.)'][:-1])
        elif row['Longitude (deg.)'][-1] == 'W':
            return float('-'+(row['Longitude (deg.)'][:-1]))
    return np.nan

df['Lat'] = df.apply(lambda row: lat(row), axis=1)
df['Long'] = df.apply(lambda row: long(row), axis=1)

In [7]:
#getting climate data
start = datetime.datetime(2021,2,9)
end = datetime.datetime(2021,2,10)
Daily(Point(75.8, -92.8, 31000), start, end).fetch()

Empty DataFrame
Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
Index: []

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929 entries, 0 to 928
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Peak Brightness Date/Time (UT)       929 non-null    datetime64[ns]
 1   Latitude (deg.)                      739 non-null    object
 2   Longitude (deg.)                     739 non-null    object
 3   Altitude (km)                        471 non-null    float64
 4   Velocity (km/s)                      276 non-null    float64
 5   vx                                   276 non-null    float64
 6   vy                                   276 non-null    float64
 7   vz                                   276 non-null    float64
 8   Total Radiated Energy (J)            929 non-null    float64
 9   Calculated Total Impact Energy (kt)  929 non-null    float64
 10  date                                 929 non-null    object
 11  year                                 929 non-null    int64
 12  quarter                              929 non-null    int64
 13  month                                929 non-null    int64
 14  day                                  929 non-null    int64
 15  weekday                              929 non-null    int64
 16  time                                 929 non-null    object
 17  hour                                 929 non-null    int64
 18  minute                               929 non-null    int64
 19  second                               929 non-null    int64
 20  Lat                                  739 non-null    float64
 21  Long                                 739 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(8), object(4)
memory usage: 159.8+ KB

In [9]:
# ProfileReport(df, title='Fireball Report').to_file('fireball_report.html')