In [1]:
import pandas as pd
from pycaret.regression import *

In [2]:
df = pd.read_csv('cneos_fireball_data.csv')
df['Peak Brightness Date/Time (UT)']= pd.to_datetime(df['Peak Brightness Date/Time (UT)'])
df['date'] = pd.to_datetime(df['Peak Brightness Date/Time (UT)'].dt.date)
df['year'] = df['Peak Brightness Date/Time (UT)'].dt.year
df['quarter'] = df['Peak Brightness Date/Time (UT)'].dt.quarter
df['month'] = df['Peak Brightness Date/Time (UT)'].dt.month
df['day'] = df['Peak Brightness Date/Time (UT)'].dt.day
df['weekday'] = df['Peak Brightness Date/Time (UT)'].dt.weekday
df['hour'] = df['Peak Brightness Date/Time (UT)'].dt.hour
df['minute'] = df['Peak Brightness Date/Time (UT)'].dt.minute
df['second'] = df['Peak Brightness Date/Time (UT)'].dt.second
def lat(row):
    if row['Latitude (deg.)'] == row['Latitude (deg.)']:
        if row['Latitude (deg.)'][-1] == 'N':
            return float(row['Latitude (deg.)'][:-1])
        elif row['Latitude (deg.)'][-1] == 'S':
            return float('-'+(row['Latitude (deg.)'][:-1]))
    return np.nan

def long(row):
    if row['Longitude (deg.)'] == row['Longitude (deg.)']:
        if row['Longitude (deg.)'][-1] == 'E':
            return float(row['Longitude (deg.)'][:-1])
        elif row['Longitude (deg.)'][-1] == 'W':
            return float('-'+(row['Longitude (deg.)'][:-1]))
    return np.nan

df['Lat'] = df.apply(lambda row: lat(row), axis=1)
df['Long'] = df.apply(lambda row: long(row), axis=1)

In [3]:
s = setup(df, 
          target = 'Velocity (km/s)',
          silent = True,
          imputation_type = 'iterative',
          numeric_iterative_imputer = 'et',
          categorical_iterative_imputer = 'et',
          remove_outliers = True,
          transformation = True,
          normalize = True,
          polynomial_features = True,
          feature_selection = True,
          feature_selection_threshold = 0.8,
          remove_multicollinearity = True)

In [4]:
gbr = create_model('gbr')

In [5]:
evaluate_model(gbr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [6]:
predict_model(gbr)

,Longitude (deg.)_145.9E,Latitude (deg.)_28.0N,Longitude (deg.)_92.9W,Latitude (deg.)_14.5N,vy,Longitude (deg.)_15.1E,Longitude (deg.)_51.3W,Peak Brightness Date/Time (UT)_hour_14,Peak Brightness Date/Time (UT)_hour_23,Latitude (deg.)_52.8N,...,Longitude (deg.)_176.9W,Latitude (deg.)_18.9N,Longitude (deg.)_162.8E,Longitude (deg.)_170.9W,Longitude (deg.)_136.2E,Longitude (deg.)_35.8W,Peak Brightness Date/Time (UT)_hour_16,Latitude (deg.)_56.5N,Velocity (km/s),Label
0,0.0,0.0,0.0,0.0,0.274674,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.400000,17.102160
1,0.0,0.0,0.0,0.0,0.604569,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.700001,20.165412
2,0.0,0.0,0.0,0.0,-0.674125,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.000000,16.541896
3,0.0,0.0,0.0,0.0,1.375685,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.600000,18.349456
4,0.0,0.0,0.0,0.0,-0.394272,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.900000,16.203851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,0.0,0.0,0.0,0.0,0.300635,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.700001,28.248545
77,0.0,0.0,0.0,0.0,1.155751,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.700000,13.014356
78,0.0,0.0,0.0,0.0,-1.187867,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.800000,14.717201
79,0.0,0.0,0.0,0.0,1.015331,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.700000,15.667214
80,0.0,0.0,0.0,0.0,-0.555587,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.500000,13.658784

In [7]:
final = finalize_model(gbr)

In [9]:
save_model(final, 'gbr_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[],
                                       target='Velocity (km/s)',
                                       time_features=[])),
                 ('imputer',
                  Iterative_Imputer(add_indicator=False,
                                    classifier=ExtraTreesClassifier(bootstrap=False,
                                                                    ccp_alpha=0.0,
                                                                    class_weight=N...
                                            learning_rate=0.1, loss='ls',
                                            max_depth=3, max_features=None,
                                            max_leaf_nodes=None,
                                            min_impurity_decrease=0.0,
                                            min_impurity_split=None,
                                            min_samples_leaf=1,
                                            min_samples_split=2,
                                            min_weight_fraction_leaf=0.0,
                                            n_estimators=100,
                                            n_iter_no_change=None,
                                            presort='deprecated',
                                            random_state=2877, subsample=1.0,
                                            tol=0.0001, validation_fraction=0.1,
                                            verbose=0, warm_start=False)]],
          verbose=False),
 'gbr_model.pkl')